.floating-dust {
    position: fixed;
    inset: 0;
    background: url('../../assets/images/5cb45a42a67a801b5f201a014d1091885c9d079b.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    opacity: 0.01;
    animation: floatDust 40s infinite linear;
  }
  
  @keyframes floatDust {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(-20px, -20px) scale(1.02);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
  